{{#if posts.length }}
<section>
    <ol>
        {{#each posts as |post| }}
        <li class='row'>
            <article class='col-12'>
                <div class="card" style="width: 50rem;">
                    <div class="card-body">
                        <h4 class="card-title"><a href='/dashboard/edit/{{id}}'>{{title}}</a></h4>
                        <span>Created on {{format_date date_created}}</span>
                        <p class="card-text">{{content}}</p>
                    </div>
                    <div class="card-body">
                        <h5>Comments</h5>
                        {{#if comments.length}}
                        <ul class="list-group list-group-flush">
                            {{#each comments as |comment|}}
                            <li class="list-group-item">
                                <p>{{comment.content}}</p>
                                <p>By {{post.user.username}} on {{format_date comment.date_created}}</p>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{else}}
                <p>No comments yet.</p>
                {{/if}}
            </article>
        </li>
        {{/each}}
    </ol>
    </div>
</section>
<div id='post-btn-div' class="row d-flex justify-content-center" style="width: 50rem;">
    <div class="col-4">
        <a href='/dashboard/newpost'><button type='button' class="btn btn-info" id='post-btn'>Create a New Post</button></a>
    </div>
</div>
{{else}}
<div id='post-btn-div' class="row d-flex justify-content-center" style="width: 50rem;">
    <div class="col-4">
        <a href='/dashboard/newpost'><button type='button' class="btn btn-info" id='post-btn'>Create a New Post</button></a>
    </div>
</div>
{{/if}}