{{#if posts.length}}
<ul>
  {{!-- needs to match const variable in postRoutes.js --}}
  {{#each posts as |post|}}
  <li>
    <h2>{{title}}</h2>
    <span>Created by {{user.name}} on {{format_date date_created}}</span>
    <p>{{content}}</p>
    <a href="/posts/{{id}}">Read More</a>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No posts yet.</p>
{{/if}}