<div class="text-center">
    <h1>{{post.title}}</h1>
    <h2>Posted by {{post.user.username}} on {{format_date post.date_created}}</h2>
    <p>{{post.content}}</p>
    <p>
        <button class="btn btn-primary"><a href="./comment.handlebars">Leave a Comment</a></button>
    </p>

    <h2>Comments</h2>
    {{#if comments.length}}
    <ul>
        {{#each comments as |comment|}}
        <li>
            <p>{{comment.content}}</p>
            <p>{{format_date comment.date_created}}</p>
            <p>By: {{post.user.username}}</p>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No comments yet.</p>
    {{/if}}
</div>

<script src="./js/addComment.js"></script>